@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index Page</title>
</head>
<body>
    <h2>Hello GUEST!</h2>
    <p> Thank you for visiting ! </p>
    <a asp-controller="Home" asp-action="Contact" asp-route-id="1" asp-fragment="notes">Go to Form Page</a>
</body>
</html>